nav.nav 
    .nav-start 
        a(href="/").nav-brand Peter
    .nav-end 
        if isLoggedIn
            a(href="/logout").nav-item Logout
        else 
            a(href="/login").nav-item Login 
            a(href="/register").nav-item Register