nav.nav 
    if isLoggedIn
        .nav-start 
            a(href="/").nav-brand Peter
            a(href="/dashboard").nav-item Dashboard
            a(href="/projects").nav-item Projects
            a(href="/work").nav-item Work
            a(href="/work/new").nav-item New work
        .nav-end 
            a(href="/logout").nav-item Logout
    else
        .nav-start 
            a(href="/").nav-brand Peter
        .nav-end 
            a(href="/login").nav-item Login 
            a(href="/register").nav-item Register