nav.nav 
    if userId 
        .nav-start 
            a(href="/dashboard").nav-brand Peter
            a(href="/projects").nav-item Projects 
        .nav-end 
            a(href="/logout").nav-item Logout 
    else 
        .nav-start 
            a(href="/").nav-brand Peter 
        .nav-end 
            a(href="/login").nav-item Login 
            a(href="/register").nav-item Register 
