.mb-4
    label(for="name") Name
        span.red *
    input(type="text", name="name", id="name", value=target.name, placeholder="Q1 2026 Release", autofocus=true)

.mb-4
    label(for="dueDate") Due date
    input(type="text", name="dueDate", id="dueDate", value=target.dueDate, placeholder="YYYY-MM-DD")

.mb-4 
    label(for="description") Description
    textarea(name="description", id="description", rows="4", placeholder="Optional details...")= target.description
