extend ../layout

block content 
    .container-fluid 
        .row
            .col-1.mt-4  
            .col-3.mt-4 
                h1.mb-4 New target

                include ../includes/flash

                p.mb-4
                    a(href=`/projects/${project.id}`)= project.name
                    span.gray  / 
                    a(href=`/projects/${project.id}/targets`) Targets
                    span.gray  / New

                form(action=`/projects/${project.id}/targets`, method="post") 
                    include ./form

                    .mb-4.pt-2
                        a(href=`/projects/${project.id}/targets`).btn.is-muted.mr-2 Cancel
                        button(type="submit") Create target

            .col-8.mt-4
