doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Peter

        link(rel="stylesheet", href="/css/vendor/unpoly.min.css")
        link(rel="stylesheet", href="/css/main.css")
    body 
        include includes/nav
        .container-fluid 
            block content

        script(src="/js/vendor/unpoly.min.js")
        script(src="/js/main.js") 