extend ../layout

block content 
    .row
        .col-1.mt-4  
        .col-3.mt-4 
            h1 Choose organization
            p.mb-4.gray Select an organization to continue.
            
            include ../includes/flash

            form(action="/choose-org", method="post") 
                input(type="hidden", name="_csrf", value=csrfToken)
                .mb-4
                    label(for="orgId") Organization
                        span.red *
                    select(name="orgId", id="orgId")
                        option(value="") Select an organization
                        each org in orgs
                            option(value=org.id) #{org.name}
    
                .mb-4.pt-2
                    button(type="submit") Continue
        .col-8.mt-4
