extend ../layout

block content 
    .container-fluid 
        .row
            .col-1.mt-4  
            .col-3.mt-4 
                h1.mb-4 Yay! 
                p.mb-4.gray Your email is confirmed. <br /> Next, create your organization.
                a(href="/onboarding").btn Continue