extend ../layout

block content 
    .row.mt-4
        .col-1
        .col-3
            .mb-4
                h1 Login 
                p.gray.italic * = required fields.

            .mb-4 
                include ../includes/flash

            form(action="/login", method="post") 
                .mb-4
                    label(for="email") Email*
                    input(type="text", name="email", id="email", placeholder="kai@doe.com", autofocus=true)
    
                .mb-4
                    label(for="password") Password*
                    input(type="password", id="password", name="password", placeholder="******")
    
                .mb-4
                    button(type="submit") Login
        .col-8
