extend ../layout

block content 
    .row.mt-4  
        .col-1
        .col-3
            h1 Create organization
            p.gray.italic This will create your organization and make you the admin.
            p.gray.italic * = required fields.
            
            .mt-4 
                include ../includes/flash

            form(action="/onboarding", method="post", class="mt-4") 
                input(type="hidden", name="_csrf", value=csrfToken)
                .mb-4
                    label(for="name") Organization name*
                    input(type="text", name="name", id="name", placeholder="Example, Inc.", autofocus=true)
    
                .mb-4
                    button(type="submit") Create
        .col-8.mt-4
