<div class="container my-4">
  <h1 class="mb-4">New company</h1>

  <form action="/companies" method="post">
    <input type="hidden" name="_csrf" value="<%- _csrf %>" />

    <div class="mb-3">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Google, Inc." class="form-control">
    </div>

    <div class="mb-3">
      <label for="website">Website</label>
      <input type="text" name="website" id="website" placeholder="https://google.com" class="form-control">
    </div>

    <div class="mb-3">
      <label for="companyStatusId">Company Status</label>
      <select class="form-select" id="companyStatusId" name="companyStatusId">
        <option>None</option>
        <% for (const companyStatus of companyStatuses ) { %>
          <option value="<%= companyStatus.id %>"><%= companyStatus.name %></option>
        <% } %>
      </select>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create</button>
      <a href="/companies" class="btn btn-default">Cancel</a>
    </div>
  </form>
</div>