extend ../layout

block content
    .row
        .col-1.mt-4  
        .col-10.mt-4 
            h1.mb-4 Work details

            include ../includes/flash

            .row 
                .col-5
                    include ./details

                    .mb-4.pt-2
                        a(href="/work").btn.is-muted.mr-2 &larr; Back

                .col-7
                    h2.mb-3 Comments

                    form(action=`/work/${work.id}/comments` method="POST")
                        .mb-3
                            textarea.form-control(name="body" rows="3" placeholder="Add a comment...")
                        button.btn.is-primary(type="submit") Add Comment

                    include ./comments

            
            include ./edit-comment-modal
            include ./delete-comment-modal

        .col-1.mt-4
