//- Delete project modal.
.modal.delete-project-modal 
    .modal-content
            h3.mb-4 Delete project 

            form(action=`/projects/${project.id}?_method=delete`, method="post") 
                p.mb-4 Are you sure you want to delete this project?

                .text-end.pt-4
                    button.delete-project-close.is-muted.mr-4(type="button") Cancel 
                    button.is-danger(type="submit") Yes