extend ../layout 

block content 
    .row.mt-4  
        .col-1 
        .col-3
            h1= title 
            p.gray.italic * = required fields.

            .mt-4 
                include ../includes/flash 

            form(action=`/projects/${project.id}?_method=PUT`, method="post", class="mt-4") 
                include ./form 

                .mb-4 
                    a(href=`/projects/${project.id}`).btn.is-muted.mr-2 Cancel
                    button(type="submit") Update project 

        .col-8
