extend ../layout

block content 
    .row
        .col-1.mt-4  
        .col-3.mt-4 
            h1.mb-4 Edit project 

            include ../includes/flash

            form(action=`/projects/${project.id}?_method=put`, method="post") 
                input(type="hidden", name="_csrf", value=csrfToken)
                include ./form

                .mb-4.pt-2
                    a(href="/projects").btn.is-muted.mr-2 Cancel
                    button(type="submit") Update project
        .col-8.mt-4