.mb-4
    label(for="name") Name
        span.red *
    input(type="text", name="name", id="name", value=project.name, placeholder="House Cleanup", autofocus=true)

.mb-4
    label(for="dueDate") Due date
    input(type="text", name="dueDate", id="dueDate", value=project.dueDate, placeholder="YYYY-MM-DD")

.mb-4 
    label(for="description") Description
    textarea(name="description", id="description", rows="4", placeholder="Optional details...")= project.description