extend ../layout

block content
    .container-fluid 
        .row.align-items-center 
            .col-1.mt-4  
            .col-10.mt-4 
                h1 Project 

                table 
                    thead 
                        tr 
                            th ID
                            th Name
                            th Description
                    tbody
                        tr
                            //- td= project.id
                            //- td= project.name
                            //- td= project.description
                            td 3
                            td Example Project
                            td This is an example project.
            .col-1.mt-4  