<div class="container my-4">
  <h1><%= companyStatus.id %>. <%= companyStatus.name %></h1>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="deleteCompanyStatus" aria-hidden="true">
    <div class="modal-dialog">
      <form action="/admin/company-statuses/<%= companyStatus.id %>?_method=DELETE" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteCompanyStatus">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="_csrf" value="<%- _csrf %>" />
            <p>Are you sure you want to delete this company status?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>